.special{
	font-size: 30px;
	background-color: orange;
}

header{
	color: white;
	text-align: center;
	font-size: 45px;
	background: linear-gradient(blue, green);
}

button{
	font-size: 25px;
	margin-left: 50px;
	margin-top: 50px;
}

.space{
	background:linear-gradient(yellow, white);
	background-color: lightyellow;
	height: 500px;
	width: 600px;
}
